{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ims{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <aside>
        <p> INVETORY SYSTEM </p>
        <a href="javascript:void(0)">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            DASHBOARD
        </a>
        <a href="javascript:void(0)">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          ALLOCATIONS
        </a>
        <a href="{% url 'Devices' %}">
          <i class="fa fa-clone" aria-hidden="true"></i>
          DEVICES
        </a>
        <a href="javascript:void(0)">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          EMPLOYEE LIST
        </a>
        <a href="{% url 'device_type' %}">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          DEVICE TYPE
        </a>
        <a href="javascript:void(0)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          SETTINGS
        </a>
    </aside>
    <div class="content">
    {% block content %}
    {% endblock %}
  </div>

    <div class="social">
        <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
    </div>
</body>
</html>
