{% extends 'base.html' %}

{% block title %} devices {% endblock %}

{% block content %}
    <h1>Device LIST</h1>
    <a href="{% url 'add_device' %}" class="add-button">Add Device </a>
    <table class="device-types-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>MAC ADDRESS</th>
                <th>SERIAL NUMBER</th>
                <th>MOBILE NUMBER</th>
                <th>MODEL</th>
                <th>COVER</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.MacAddress }}</td>
                <td>{{ device.SerialNo }}</td>
                <td>{{ device.MobileNo }}</td>
                <td>{{ device.Model }}</td>
                <td>{{ device.Cover }}</td>
                <td>{{ device.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}