{% extends 'base.html' %}

{% block title %} devtype {% endblock %}

{% block content %}
    <h1>Device Types</h1>
    <a href="{% url 'add_device_type' %}" class="add-button">Add Device Type</a>
    <table class="device-types-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for devicetype in devicetypes %}
            <tr>
                <td>{{ devicetype.id }}</td>
                <td>{{ devicetype.model }}</td>
                <td>{{ devicetype.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}