{% extends 'base.html' %}

{% block title %} employees {% endblock %}

{% block content %}
    <h1>EMPLOYEE LIST</h1>
    <a href="{% url 'add_employee' %}" class="add-button">Add EMPLOYEE </a>
    <table class="device-types-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>EMPNO</th>
                <th>NAME</th>
                <th>DEPARTMENT</th>
                <th>BRANCH</th>
                <!-- <th>BUSINESS UNIT</th> -->
            </tr>
        </thead>
        <tbody>
            {% for employee in employees_list %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.empno }}</td>
                <td>{{ employee.Name }}</td>
                <td>{{ employee.Department }}</td>
                <td>{{ employee.branch }}</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    {% endblock %}