{% extends 'base.html' %} 

{% block title %} Dashboard {% endblock %}

{% block content %}
<!-- Main Content -->
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock css %}

<div class="main-content">
  <h1>Inventory Management Dashboard</h1>
  <!-- Add Allocation Button -->
  <a href="{% url 'add_asssignment' %}" class="add-button">Allocate Devices</a>
  <!-- Three Columns -->
  <div class="columns">
      <div class="column">
          <h2>Allocated Devices:</h2>
          <!-- Display allocated devices count here -->
            {{ allocated_devices_count }}
      </div>
      <div class="column">
          <h2>All Devices:</h2>
          <!-- Display total devices count here -->
          {{ device_list_count }}
      </div>

       <div class="column"> 
          <h2>Employees </h2>
          <!-- Display device status here -->
          {{ empcount }}
      </div>

  </div>
</div>

<!-- Display Allocated Devices Table -->
<table class="device-types-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>MODEL</th>
            <th>Device MAC Address</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.id }}</td>
            <td>{{ assignment.user.Name }}</td>
            <td>{{ assignment.device.Model  }}</td>
            <td>{{ assignment.device.MacAddress }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
